@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap');
*{
font-family: 'Poppins', sans-serif;
}
h1 {
  text-align: center;
  color: black;
  font-size: 75px;
}
div {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
a {
  margin: 30px;
  font-size: 32px;
}
body {
  background: rgb(131, 58, 180);
  background: linear-gradient(
    90deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
}
/* .end-btn {
  margin-top: 2vw;
  background-color: #DAA521;
  border: none;
  width: 15vw;
  height: 3vw;
  font-size: 1.5vw;
  color: #FFFFFF;
  border-radius: 0.5vw;
  font-weight: bold;
  cursor: pointer;
} */
.end-btn {
  margin-top: 0.5vw;
  background-color: #DAA521;
  border: none;
  width: 15vw;
  height: 3vw;
  font-size: 1.3vw;
  color: #FFFFFF;
  border-radius: 0.5vw;
  font-weight: bold;
  cursor: pointer;
}

.main {
  position: absolute;
  width: 900px;
  height: 600px;
  top: 50%;
  left: 50%;
  border-radius: 25px;
  transform: translate(-50%,-50%);
  background-color: rgb(233, 242, 248);

  display: flex;
  flex-direction: column;
}
a{
  text-decoration: none;
}
